.colors {
  position: absolute;
  bottom: 0;
  right: 0;
}
.colorScheme {
  height: 5vh;
  width: 10vw;
}

.color1 {
  background-color: #ffa500;
}
.color2 {
  background-color: #ff8c00;
}
.color3 {
  background-color: #ff6600;
}
.color4 {
  background-color: #2f4f4f;
}
.color5 {
  background-color: #263d3d;
}
.color6 {
  background-color: #1c2b2b;
}
