body{
    margin:0;
    padding:0; 
    background-color: black;
    overflow: hidden;
}
.shape{
    position:absolute;
    width:40%;
    height:100vh;
    background-color:white;
    clip-path: polygon(30% 0%, 80% 0%, 50% 100%, 0% 100%);
    transition: 0.5s;
}
.spec1{left:1%;}
.spec2{left:23%;}
.spec3{left:45%;}
.spec4{left:67%;}

.spec1:hover{
    background-color: red;
    left:10%;
}
.spec2:hover{background-color: yellow;}
.spec3:hover{background-color: green;}
.spec4:hover{background-color: blue;}
