body{
    margin:0;
    padding:0; 
    background-color:black;
    overflow: hidden;
}
.shape{
    position:absolute;
    width:21%;
    height:100vh;
    transform: skewX(-14deg);
    transition: 0.5s;
}
.text{
    display:none;
    color:white;
    width:40%;
    margin:0 0;
    padding:2% 10% 7% 4%;
    border-radius: 0 0 100% 0;
    box-shadow: 10px 10px 100px 100px black;
    background-color: black;
    opacity: 0.9;
}
.display{display:inline-block;}
.hide{display:none;}

.position1{left:6.5%;}
.position2{left:28.5%;}
.position3{left:50.5%;}
.position4{left:72.5%;}

/*Siffran i right visar vilken .position den tillhör*/
.right2{left:87%;}
.right3{left:93.5%;}
.right4{left:100%;}

.righta{left:87.5%;}
.rightb{left:94%;}

.left1{left:-6%;}
.left2{left:0.5%;}
.left3{left:7%;}
.left4{left:13.5%;}

.position1{background-color:white;}   
.position2{background-image: url("../img/bilden.jpg");}
.position3{background-image: url("../img/mustang.jpg");}
.position4{background-image: url("../img/bilden.jpg");}

.grow{
    width:80%;
}
.shrink{
    width:6%;
}