/*
primary = #37464f
primary light = #62717b
primary dark = #101f27

secondary = #f98b00
secondary light = #ffbc45
secondary dark = #c05d00
*/
body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}
#main{
    position: absolute;
    left: 20%;
    top: 8vh;
    width:60%;
    max-width: 60%;
    background-color:black;
}

.leagueOfLegends{
    position: absolute;
    width: 40%;
    height: 60vh;
    overflow: hidden;
}
.leagueOfLegendsImg{
    position: absolute;
    width: 100%;
    height: 60vh;
    transition:0.4s;
}
.leagueOfLegendsIcon{
    position: absolute;
    top: 60vh;
    width: 100%;
    height: 60vh;
    transition:0.5s;
}
.leagueOfLegends:hover .leagueOfLegendsImg{
    filter: blur(10px);
}
.leagueOfLegends:hover .leagueOfLegendsIcon{
    transform: translateY(-65%);
    transition-delay: 0.2s;
}

.battleField{
    position: absolute;
    left: 41%;
    width:59%;
    height: 60vh;
    clip-path: polygon(0% 0%, 100% 0, 0% 100%, 0% 100%);
    overflow: hidden;
}
.battleFieldImg{
    position: absolute;
    width:100%;
    height: 60vh;
    transition: 0.4s;
}
.battleFieldIcon{
    position: absolute;
    top: 60vh;
    left: 5%;
    width:70%;
    height: 60vh;
    transition: 0.5s;
}
.battleField:hover .battleFieldImg{
    filter: blur(10px);
}
.battleField:hover .battleFieldIcon{
    transform: translateY(-90%);
    transition-delay: 0.2s;
}

.worldOfWarships{
    position: absolute;
    left: 41%;
    top: 1vh;
    width:59%;
    height: 100vh;
    background-color: #c05d00;
    clip-path: polygon(100% 0%, 100% 40%, 0% 100%, 0% 60%);
}
.worldOfWarshipsImg{
    position: absolute;
    width:100%;
    height: 100vh;
    transition: 0.4s;
}
.worldOfWarshipsIcon{
    position: absolute;
    top:100vh;
    width: 70%;
    height: 60vh;
    transition: 0.5s;
}
.worldOfWarships:hover .worldOfWarshipsImg{
    filter: blur(10px);
}
.worldOfWarships:hover .worldOfWarshipsIcon{
    transform: translateY(-50%);
    transition-delay: 0.2s;
}


.fourthDiv{
    position: absolute;
    left: 41%;
    top: 2vh;
    width: 59%;
    height: 100vh;
    background-color: #f98b00;
    clip-path: polygon(100% 40%, 100% 40%, 100% 100%, 0% 100%);
}
.fifthDiv{
    position: absolute;
    top: 61vh;
    width: 40%;
    height: 41vh;
    background-color: #ffbc45;
}

/*.centerImage {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}*/
.resizeIcon{
    max-width: 100%;
    max-height: auto;
}

.bottomDiv{
    position: relative;
    top: 103vh;
    height:10vh;
    width: 100%;
    text-align: center;
    font-size: 15px;
}