.navbar {
    position: absolute;
    left:500px;
    margin-top:300px;
    perspective: 1000px;
    transform: translateZ(-100px);
    transform-style: preserve-3d;
}

.Top{
    position: absolute;
    border:1px solid black;
    color:white;
    text-align: center;
    font-size: 2.5em;
    transform: rotateX(65deg) rotateZ(-30deg) translateZ(100px);
    background-color:blue;
    width:150px;
    height:400px;
}
.topFace{
    display: inline-block;
    width:100%;
    height:20%;
    border: 1px solid black;
}
.nr1:hover{
    background-color: red;
}
.Left{
    position: absolute;
    border:1px solid black;
    width: 400px;
    color:white;
    text-align: center;
    font-size: 2.5em;
    transform: rotateX(-40deg) rotateY( -55deg) rotateZ(-10deg) translateZ(250px);
    background-color: red;
}
.leftFace{
    float:left;
    width:20%;
    background-color: green;
    
}
.Right{
    position: absolute;
    border:1px solid black;
    width: 200px;
    color:white;
    text-align: center;
    font-size: 2.5em;
    transform: rotateX(-30deg) rotateY(40deg) translateZ(300px);
    background-color:green;
}